a {
  text-decoration: none;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}

.carousel-item {
  background-color: #e3dcc0;
  height: 725px;
}

.carousel-item:hover {
  cursor: grab;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
}

.carousel-caption h2,
.carousel-caption p.lead {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.carousel-indicators li {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  align-self: center;
  transition: all 0.6s ease-in-out;
}

.carousel-indicators li.active {
  width: 1rem;
  height: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 100%;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: #000;
  color: #000;
}

.titlepage {
  background-color: #9baf93;
  opacity: 0.75;
  border-radius: 5px;
  color: white;
  height: 30%;
  margin-top: 15%;
}
.slidetitle {
  font-size: 30pt;
  text-align: center;
  font-weight: 600;
  margin-top: 2%;
  background-color: #9baf93;
  opacity: 0.85;
  border-radius: 5px;
  color: black;
  padding: 6px;
}

.slidecaption {
  font-size: 12pt;
  text-align: center;
}

.caption {
  font-size: 10pt;
  font-style: italic;
}

.bearicons{
  display: flex;
  justify-content: space-around;
}

#brownicon {
  width: 230px;
  height: auto;
}

#polaricon {
  width: 250px;
  height: auto;
}

#blackicon {
  width: 230px;
  height: auto;
}

.slide3contents {
  display: flex;
  justify-content: space-around;
}

.piecontent {
  display: block;
  width: 50%;
}
#pielegend {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
#piekey {
  list-style-type: none;
  font-size: 18pt;
  font-weight: bolder;
  line-height: 4rem;
  background-color: #fffef2;
  border-radius: 5px;
  padding-right: 40px;
}
#map{
  width: 40%;
  height: auto;
}

#slide3text {
  text-align: left;
}
.beartrash {
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
}
#beartrashimg{
  width: 400px;
  height: 250px;
  margin-top: 2%;
}
#arrow {
  width: 100px;
  height: 100px;
  margin-top: 8%;
}
#beartrashcanimg {
  width: 300px;
  height: 250px;
  margin-top: 2%;
  margin-bottom: 2%;
}
#slide5contents {
  display: flex;
  justify-content: space-between;
}
#standbearimg {
  margin-top: 7%;
  width: 90%;
  height: auto;
}
#endangercontent {
  display: block;
}
#iucn {
  width: 750px;
  height: auto;
}
#iucnlogo {
  width: 50px;
  height: auto;
}
#bearattackcontent {
  display: flex;
  justify-content: space-around;
}
#blufftext {
  width: 50%;
}
#bearonroadimg {
  padding-top: 10%;
}

.portfoliobtn {
  background-color: #9baf93;
  border-color: #9baf93;
  position: absolute;
  bottom: 30%;
}
.portfoliobtn:hover {
  background-color: #9baf93;
  border-color: #9baf93;
}
.sources {
  list-style-type: none;
  line-height: 2rem;
  text-align: center;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

